@import '../theme/variables.scss';

@font-face {
  font-family: 'mdb';
  src:  url('../assets/fonts/mdb.eot?9mj9s3');
  src:  url('../assets/fonts/mdb.eot?9mj9s3#iefix') format('embedded-opentype'),
    url('../assets/fonts/mdb.ttf?9mj9s3') format('truetype'),
    url('../assets/fonts/mdb.woff?9mj9s3') format('woff'),
    url('../assets/fonts/mdb.svg?9mj9s3#mdb') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="mdb-icon-"], [class*=" mdb-icon-"] {
  font-family: 'mdb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdb-icon-logo:before {
  content: "\e900";
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}

ion-content {
  &.has-header {
    .fixed-content,
    .scroll-content {
      margin-top: 43px;
    }

    &.content-md {
      .fixed-content,
      .scroll-content {
        margin-top: 55px;
      }
    }
  }
}

.ios .ion-page.show-page ~ .nav-decor {
  background: #ffffff;
}

.menu-inner {
  .list {

    .list {
      margin-bottom: 0;
    }

    .item {
      padding-left: 0;

      .item-inner {
        padding-left: 16px;
      }
    }
  }

  .mdb-side-menu-wrapper {
    .hidden {
      display: none;
    }

    .list-md {
      margin-top: 0;
    }

    button.item {
      position: relative;

      .item-inner {
        padding-right: 44px;
      }

      .drop-arrow {
        position: absolute;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: middle;
      }

      &.active {
        color: $sidebar-menu-active-color;
        .drop-arrow {
          transform: rotate(90deg);
        }
      }
    }
  }
}
